{% extends 'base.html.twig' %}

{% block title %}Modifier l'adresse{% endblock %}

{% block body %}
    <h3>Modifier l'adresse</h3>

    {{ form_start(formAdresse) }}
    {{ form_widget(formAdresse) }}
    <button class="btn btn-success">{{ button_label('modifier') }}</button>
    {{ form_end(formAdresse) }}

{% endblock %}
