{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse{% endblock %}

{% block body %}
    <h3>Nouvelle adresse</h3>

    {{ form_start(formAdresse) }}
    {{ form_widget(formAdresse) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(formAdresse) }}
{% endblock %}
